
body {
	background-color: rgb(0, 0, 0);
	color: whitesmoke;
}

h1 {
	text-align: center;
	color: rgb(22, 174, 201);
	margin-left: 20px;
  
}

p {
	text-indent: 50px;
	font-family: "Lucida Console", "Courier New", monospace;
  }


  footer {
	background-color: #2e2929;
	padding: 10px;
	text-align: center;
	color: white;
  display: block;
  margin-top: auto;
  }
  

 /* unvisited link */
 a:link {
	color: red;
	font-family: "Lucida Console", "Courier New", monospace;
	/*background-color: rgb(255, 145, 0);*/
  }
  
  /* visited link */
  a:visited {
	font-family: "Lucida Console", "Courier New", monospace;
	color: rgb(6, 214, 6);
  }
  
  /* mouse over link */
  a:hover {
	font-family: "Lucida Console", "Courier New", monospace;
	color: hotpink;
  }
  
  /* selected link */
  a:active {
	font-family: "Lucida Console", "Courier New", monospace;
	color: blue;
  } 


  pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: "Fira Code", monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

ul{
	font-family: "Lucida Console", "Courier New", monospace;
  font-style: italic;
}

article{
  padding: 3px;
  background-color: #201e1e;
  border: 1px solid green;
  border-radius: 10px;
  
}



.sidenav {
  
  width: 230px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 20px; /* Stay at the top */
  left: 10px;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 230px; /* Same as the width of the sidebar */
  padding: 0px 10px;

}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

