
body {
	background-color: rgb(0, 0, 0);
	color: whitesmoke;
}

h1 {
	text-align: center;
	color: rgb(174, 246, 248);
	margin-left: 20px;
}






p {
	text-indent: 50px;
	font-family: "Lucida Console", "Courier New", monospace;
  }


  footer {
  position: fixed;
  bottom: 0;
  width: 100%;
	background-color: #2e2929;
	padding: 10px;
	text-align: center;
	color: white;
  display: block;
  margin-top: auto;
  }
  

 /* unvisited link */
 a:link {
	color: rgb(174, 246, 248);
	font-family: "Lucida Console", "Courier New", monospace;
  text-decoration: none; padding-bottom: 1px; border-bottom: 1px solid #8d8df3; 

  }
  
  /* visited link */
  a:visited {
	font-family: "Lucida Console", "Courier New", monospace;
	color: rgb(174, 246, 248);
  text-decoration: none; padding-bottom: 1px; border-bottom: 1px solid #8d8df3; 

  }
  
  /* mouse over link */
  a:hover {
	font-family: "Lucida Console", "Courier New", monospace;
	color: hotpink;
  cursor: pointer
  
  }
  
  /* selected link */
  a:active {
	font-family: "Lucida Console", "Courier New", monospace;
	color: blue;
  } 


  pre {
    background: #474646;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #ffffff;
    page-break-inside: avoid;
    font-family: "Fira Code", monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    white-space:pre-wrap;
}

ul {
  display: table-row;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}


li {
  display: table-row;
  color: #ddd;
}

li::before {
  display: table-cell;
  text-align: right;
  content: "+";
  font-size: 1em;
  font-weight: bold;
  color: #FF404C;
  padding-right: 12px;
}

li:hover {
  background-color: rgba(256,256,256,0.1);
}
li:before:hover {
  background-color: rgba(256,256,256,0.1);
}
li:not(:first-of-type)::before {
  padding-top: 12px;
}



.list-container {
  width: 80%;
}

strong {
  color: #fff;
}







.sidenav {
  margin:0;
  padding:0;
  width: 230px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  background-color: #111; /* Black */
  height: 100%;
  overflow: auto; /* Disable horizontal scroll */

}

/* The navigation menu links */
.sidenav a {
  padding: 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  text-decoration: none;

}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 230px; /* Same as the width of the sidebar */
  padding: 1px 16px;

}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */


@media screen and (max-width: 1000px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidenav a {float: left;}
  .main {margin-left: 0;}
}

@media screen and (max-width: 900px) {
  .sidenav a {
    text-align: center;
    float: none;
  }
  .main {margin-left: 0;}
}